@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*至此結束Reset*/
#header {
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  z-index: 99; }
  #header .site-logo {
    font-size: 22px;
    font-weight: 900;
    padding: 20px 15px;
    text-transform: uppercase; }
  #header .site-menu {
    margin: 25px 10px; }
    #header .site-menu a {
      padding: 10px 25px;
      margin-right: 20px;
      color: #fff;
      font-size: 18px;
      text-decoration: none; }
    #header .site-menu .nav-link:hover {
      color: orange;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    #header .site-menu .join {
      border: 2px solid #fff;
      border-radius: 5px; }
      #header .site-menu .join:hover {
        background-color: #fff;
        color: #222; }
  #header .mobile-menu {
    display: none; }

@media (max-width: 992px) {
  #header .site-menu a {
    margin-right: 10px; } }

@media (max-width: 768px) {
  #header .site-logo {
    font-size: 18px;
    padding: 20px 8px; }
  #header .site-menu {
    display: none; }
  #header .mobile-menu {
    display: block;
    float: right; } }

.site-banner {
  height: 600px;
  height: 100vh;
  position: relative;
  text-transform: uppercase; }
  .site-banner .site-banner-bg {
    position: relative;
    background: url("../img/1.jpeg") center center no-repeat; }
    .site-banner .site-banner-bg div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      overflow: hidden;
      width: 100%;
      height: 100vh;
      opacity: 0;
        opacity-filter: alpha(opacity=0); }
    .site-banner .site-banner-bg:after {
      content: "";
      display: block;
      background-color: #000; }
    .site-banner .site-banner-bg .bg-1 {
      background: url("../img/1.jpeg") center center no-repeat;
      background-size: cover; }
    .site-banner .site-banner-bg .bg-2 {
      background: url("../img/shoes-1246691_1920.jpg") center center no-repeat;
      background-size: cover; }
    .site-banner .site-banner-bg .bg-3 {
      background: url("../img/station-839208_1920.jpg") center center no-repeat;
      background-size: cover; }
    .site-banner .site-banner-bg .bg-4 {
      background: url("../img/sunset-1757593_1920.jpg") center center no-repeat;
      background-size: cover; }
    .site-banner .site-banner-bg .bg-5 {
      background: url("../img/woodland-1784873_1920.jpg") center center no-repeat;
      background-size: cover; }
  .site-banner .site-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    .site-banner .site-banner-text h1 {
      font-size: 40px; }
    .site-banner .site-banner-text p {
      font-size: 24px; }

@media (max-width: 768px) {
  .site-banner {
    height: 500px;
    height: 100vh; }
    .site-banner .site-banner-text h1 {
      font-size: 30px; }
    .site-banner .site-banner-text p {
      font-size: 15px; } }

.site-banner-form {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px 0; }
  .site-banner-form input {
    padding: 10px;
    border: none;
    font-size: 18px;
    display: block;
    width: 100%; }
  .site-banner-form .banner-search {
    width: 66.6%;
    float: left;
    padding: 0 15px; }
  .site-banner-form .banner-button {
    width: 33.3%;
    float: left;
    padding: 0 15px; }
    .site-banner-form .banner-button .button-green {
      background-color: #21ba45;
      color: #fff; }
      .site-banner-form .banner-button .button-green:hover {
        -webkit-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
        background-color: #f0ab4f;
        color: red; }

.dark {
  color: #fff;
  text-shadow: 0px 0px 15px #c37a53; }

.light {
  color: #222;
  text-shadow: 0px 0px 15px #c37a53; }

/*CSS3 Keyframes Animation
  設定動畫週期。*/
.site-banner-bg div {
  -webkit-animation: round 35s linear infinite;
    -webkit-animation-animation: round 35s linear infinite; }

@-webkit-keyframes round {
  2.85% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/ }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 7秒靜止*/ }
  22.8% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 7 - 8秒淡出*/ } }

@keyframes round {
  2.85% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/ }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 7秒靜止*/ }
  22.8% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 7 - 8秒淡出*/ } }

/*每張圖片進場時間相隔7秒*/
.site-banner-bg div:nth-child(1) {
  -webkit-animation-delay: 0s;
    -webkit-animation-delay-animation-delay: 0s; }

.site-banner-bg div:nth-child(2) {
  -webkit-animation-delay: 7s;
    -webkit-animation-delay-animation-delay: 7s; }

.site-banner-bg div:nth-child(3) {
  -webkit-animation-delay: 14s;
    -webkit-animation-delay-animation-delay: 14s; }

.site-banner-bg div:nth-child(4) {
  -webkit-animation-delay: 21s;
    -webkit-animation-delay-animation-delay: 21s; }

.site-banner-bg div:nth-child(5) {
  -webkit-animation-delay: 28s;
    -webkit-animation-delay-animation-delay: 28s; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body, html {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block; }

.img-rounded {
  border-radius: 50%; }

.main {
  max-width: 800px;
  margin: 0 auto; }

@media (min-width: 992px) {
  .main {
    width: 920px; } }

@media (min-width: 768px) {
  .main {
    width: 720px; } }
